<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css vendors.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

  </head>

  <body ng-app="<%= appname %>">

    <div ng-view></div>

    <!-- inject:templates -->
    <!-- endinject -->

    <!-- build:js vendors.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <script src="app.js"></script>

  </body>
</html>
